    /* resetar a página */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;

}

/* estilização do corpo da página */
body{
    background:linear-gradient(to bottom,#f3e8ff,#ffffff);

}

/* estilização do cabeçalho */
header{
    background:linear-gradient(to right,#6a0dad,#8a2be2);
    color:white;
    text-align:center;
    padding:20px;

}

/* estilização do conteúdo da página */
main{
    width:80%;
    margin:40px auto;

}

/* estilização do título da página */
h2{
    text-align:center;
    color:#6a0dad;
    margin-bottom:30px;

}

/* estilização do container */
.container{
    width:400px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:10px;
    border:1px solid #ccc;

}

/* estilização do label */
label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;

}

/* estilização do input */
input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;

}

/* estilização do botão */
button{
    width:100%;
    margin-top:25px;
    padding:12px;
    border:none;
    border-radius:5px;
    background:linear-gradient(to right,#6a0dad,#8a2be2);
    color:white;
    cursor:pointer;

}
    
/* estilização do botão quando o mouse passar sobre */
button:hover{
    opacity:0.9;

}

/* estilização do botão voltar */
.voltar{
    display:block;
    margin-top:30px;
    text-align:center;
    text-decoration:none;
    color:#6a0dad;

}

/* estilização do botão quando o mouse passar sobre */
.voltar:hover{
    text-decoration:underline;

}